# Python
__pycache__/
*.pyc
.venv/

# Secrets
.env

# Logs & OS noise
*.log
.DS_Store

# Local data
*.db

# Node / React frontend
node_modules/ # very big and fully reproducible via package.json
clients/*/dist/
clients/*/node_modules/
.vite/